<div class="layout-container">
    <header class="layout-header">
        <!--Posteoremente se carga el componente headercomponent-->
        <app-header></app-header>
    </header>

    <main class="layout-main">
        <aside class="layout-sidebar">
            <!--Posteormente se carga el componetne sidebarcomponent-->
            <app-sidebar></app-sidebar>
        </aside>
        <!--Contenido dinamico-->
        <section class="layout-content">
            <!--Aqui va los componente de dashboard,usuarios, roles, etc-->
           <router-outlet></router-outlet>
        </section>
    </main>
    <footer class="layout-footer">
        <!--componente de footer-->
        <app-footer></app-footer>

    </footer>
</div>